@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');

/* article-sns-user */
.sns-user-item { background:#d9d9d9; padding:10px; margin-bottom:20px;}
.sns-user-item:last-child { margin-bottom:0px; }
.sns-user-profile { display:flex; margin-bottom:10px;}
.sns-user-profile img { width:45px; height:45px; margin-right:20px; }
.user-loc img { width:15px; height:15px; margin-right:5px; }
.follow-btn { background:#FFFFFF; margin-top:10px; text-align:center; }
.follow-btn img { width:15px; height:15px; margin-right:5px; }