@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');

/*		BODY	 */
* { margin:0; padding:0; list-style:none; font-family:'Noto Sans KR', sans-serif;}
body { background:#F2F2F2; display:block; }
.clearfix { *zoom:1; }
.clearfix:after { content: ""; display:block; clear:both; }
a { text-decoration:none; color:#000000; }
a:hover { text-decoration:none; }
img { max-width:100%; }
li { display:inline-block; }

.wrap {display:flex; flex-direction: column;}
/* 		HEADER 		*/
header {
	z-index:101;
	width:100%;
	height:60px;
	background:#FFFFFF;
	position:fixed;
	box-sizing:border-box;
	margin:0 auto;
	top:0; left:0;
	padding:5px 10px;
}

.header-inner {
	background:#FFFFFF;
	margin:0 auto;
	max-width: 1280px;
}
.header-inner div { display:inline-block; height:50px; }

header .logo img { width:150px; height:50px; }
/* 		section-search 		*/
header .search-container {display: flex;padding: 0;margin:20px 10px 15px 10px; border: 0;}
header  .search-keyword {border: 0;width: 100%;height:100%;padding: 2px 10px;background: white;transition: all 0.4s ease;box-shadow:3px 3px 3px #bfbfbf;}
header  .icon {padding: 10px; height:15px; background: #eb7d31;color: white;min-width: 10px;text-align: center;box-shadow:3px 3px 3px #bfbfbf; cursor:pointer;}

.navi { float:right; margin-left:auto; text-align:center; }
.navi li { display: inline-block; margin: 0px 10px; vertical-align: middle; font-size: 10px; padding: 0 10px; /* border-bottom: solid 3px #009CE9; */ padding-bottom: 7px; }
.navi li:last-child { margin-right:0; }
.navi li .search-container { margin:0; display:flex; height:35px; border:1px solid #d9d9d9; }
.navi li .search-container * { box-shadow: none; }
.navi li .search-container .svg-inline--fa.fa-w-16 { width:2em; background:#eb7d31; }

.signin-btn { background:#009CE9; color:#FFF; font-size:13px; padding:5px 15px; margin:0 5px; cursor:pointer;}

.navi img { width:30px; height:30px; }
#member-img { width:45px; height:45px; object-fit: cover; border-radius:50%; }

.member-submenu { display:none; position:absolute; background:#595959; width:80px; min-width:80px; z-index:999;}
.member-submenu li { display:block; margin:0; font-size:13px; padding:10px; border-bottom:1px solid #FFF; }
.member-submenu li:last-child { border-bottom:0px; }
.member-submenu li a { color:#FFF;}
.member-submenu li:hover { background:#7f7f7f; }
.member:hover .member-submenu { display:block; }

.alarm-subbox { display:none; }


/* 		CONTENT		*/
.content { padding-top:60px; }
/* section-main */
.section-main { margin: 0 auto; max-width: 1280px; padding:0 24px 24px 24px; }
.article-wrapper { float:left; }
.article-item { background: #FFFFFF; padding: 20px; box-shadow: 3px 3px 3px #bfbfbf; margin: 20px 10px; }
.article-item .article-title { margin-bottom:10px; }
.article-75 { width:75%; }
.article-25 { width:25%; }

.col-50 { width:54%; }
.col-45 { width:44%; }

.font-13 { font-size:13px; }
.font-15 { font-size:15px; }

label.error, .error_msg {font-size:11px; color:red; display:block;}



/* 		FOOTER 		*/
footer { bottom:0; width:100%; height:100px; background:#D9D9D9; }
footer .footer-wrapper { display: flex; margin: 0 auto; max-width: 1280px; padding:12px 120px; height: calc(100% - 24px); }
footer .footer-wrapper * { align-self: center; }
footer .footer-wrapper .logo img { width:210px; height:65px; margin-left:130px;}
footer .footer-wrapper .project-info { font-size: 13px; margin:0 150px 0 30px; }
footer .footer-wrapper .project-ref { display:flex; flex-direction: column; width:210px; height: 100%;}
footer .footer-wrapper .project-ref div { width:100%; height: 48%; }
footer .footer-wrapper .project-ref img { width:48%; height:100%; }


