@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');


/* article-info */
.info-imgs { width:100%; display:flex; justify-content:space-around; }
.info-imgs .info-img { width:30%; }

/* article-food */
.food-wrap { width:100%; display:flex; justify-content:space-around; }
.food-item { width:30%; background:#d9d9d9; cursor:pointer; }
.food-item:hover { text-decoration:underline; }
.food-detail { font-size:15px; }
.fcategory1, .fcategory2, .fcategory3 { font-size:13px; }
.fimg1, .fimg2, .fimg3 { background:#d9d9d9 no-repeat center center/cover; width:100%; height:150px; }

/* article-plan */
.plan-wrap { width:100%; display:flex; justify-content:space-around; }
.plan-item { width:30%; background:#d9d9d9; padding:3px;}
.plan-img { width:100%; height:200px; }
.plan-detail { font-size:15px; background:#FFF; }
.plan-detail>span { display:block; }

/* article-bed */
.bed-wrap { width:100%; display:flex; justify-content:space-around; }
.bed-item { width:30%; background:#d9d9d9; cursor:pointer; }
.bed-item:hover { text-decoration:underline; }
.bed-detail { font-size:15px; }
.bcategory { font-size:13px; }