/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 102; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.85); /* Black w/ opacity */
}
/* Modal Content(login)/Box */
.modal-content {
	overflow: hidden;
	background-color: #fefefe;
	margin: 100px auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 340px; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 40px;
	font-weight: bold;
	margin-top: -4%
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* MODAL-TITLE */
.modal-title { color: #009CE9; height: 50px; }

/* SIGN IN */
.sign-in-group {margin: 0px 40px 14px 40px;}
.inform {margin-top: 15px; padding: 2%; width: 250px;}

#checkboxArea {margin-top: 5px; padding-top: 4px;}
input[type="checkbox"] {display: none;}
input[id="loginCookie"]+label {display: inline-block; width: 1rem; height: 1rem; cursor: pointer; border-radius: 3px; float: left; margin: 2px; border: 1px solid black;}
input[id="loginCookie"]:checked+label {background: url("../img/member/checkbox.jpg") no-repeat 50% 50%; background-size: 1rem;}
.logBtn {background-color: #009CE9; border: none; color: white; margin-top: 10px;
	margin-bottom: 10px; padding: 3px; width: 250px; text-align: center;
	text-decoration: none; display: inline-block; font-size: 16px;}

.password-find-tag {font-size: 13px;}
.password-find-tag:hover {text-decoration:underline; cursor:pointer;}

.sign-up-tag , .sign-in-tag { color: #009CE9; margin-left: 10px; font-size: 13px; }
.sign-up-tag:hover , .sign-in-tag:hover , .agree-tag:hover { text-decoration:underline; cursor:pointer; }

.logFb {background-color: #3b5998; border: none; color: white; width: 250px;
	padding: 3px; margin-top: 15px; text-align: center; text-decoration: none;
	display: inline-block; font-size: 16px;}
.logGe {background-color: #dd4b39; border: none; color: white; width: 250px;
	padding: 3px; margin-top: 15px; text-align: center; text-decoration: none;
	display: inline-block; font-size: 16px;}


/* PWD FIND */
.password-find-group, .sign-up {display: none;}

p {margin-top: 15px; margin-left: 40px;}

.inform-addr {margin-top: 15px; margin-bottom: 15px; margin-left: 40px;
	padding: 2%; width: 250px;}

.password-find-btn {background-color: #009CE9; border: none; color: white;
	margin-top: 15px; margin-left: 40px; padding: 3px; width: 250px;
	text-align: center; text-decoration: none; display: inline-block; font-size: 16px;}

/* SIGN UP */
.sign-up-group {margin: 2px 40px;}

.sign-up-btn {background-color: #009CE9; border: none; color: white; margin-top: 10px;
	margin-bottom: 10px; padding: 3px; width: 250px; text-align: center;
	text-decoration: none; display: inline-block; font-size: 16px;}

#sex-checkboxArea {margin-top: 10px;}
/* input[type="radio"],  input[type="radio"]{display: none;} */
input[id="male"]+label , input[id="female"]+label {display: inline-block; width: 1rem; height: 1rem;
	cursor: pointer; border-radius: 3px; float: left; margin: 3px; border: 1px solid black;}
input[id="male"]:checked+label , input[id="female"]:checked+label {background: url("../img/member/checkbox.jpg") no-repeat 50% 50%;
	background-size: 1rem;}

#agree-checkboxArea {margin-top: 10px; font-size:13px;}
#agree-checkboxArea>* { vertical-align:middle}
input[type="checkbox"] {display: none;}
input[id="agree"]+label {display: inline-block; margin-top: 15px; margin-right: 3px; width: 1rem;
	height: 1rem; cursor: pointer; border-radius: 3px; float: left; border: 1px solid black;}
input[id="agree"]:checked+label {background: url("../img/member/checkbox.jpg") no-repeat 50% 50%;
	background-size: 1rem;}
.agree-tag {color: #009CE9; margin-left: 10px;}
