/* The Modal (background) */
#modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 0px 15px;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	z-index: 1000;
	/*     padding:400px; */
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
/* Modal Content/Box */
#modal > .nailer-schedule-modal-content {
	padding:20px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
    border-radius: 5px;
    background: #fff;
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    background:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#modal.show{
	opacity:1;
}
#modal.show .nailer-schedule-modal-content{
	opacity:1;
    -webkit-transform: translateY(0);
    transform: translateY(0);	
} 
#modal .modal_title { font-size:30px; margin-bottom: 15px; display: inline-block; }
#modal .schedule-theme { display:inline-block; position:absolute; right:20px; top:40px; font-size:20px; color:#595959; }

/* .schedule-img-text-wrapper */
.schedule-img-text-wrapper { margin: 15px 0; width:100%; position:relative; }
.schedule-img-text-wrapper .schedule-img-wrapper {width:100%; height:350px; vertical-align:middle;}
.schedule-img-text-wrapper .schedule-img-wrapper .map-img { width:100%; height:100%; vertical-align:middle; }
.schedule-img-text-wrapper .schedule-text-wrapper { width:calc(100% - 40px); padding:5px 20px; position:absolute; top:92.5%; left:50%; transform:translate(-50%, -50%); background-color:#FFF; background-color:rgba(255,255,255,0.7); text-align: center; }
.schedule-img-text-wrapper .schedule-text-wrapper * { display:inline-block; }
.schedule-img-text-wrapper .schedule-text-wrapper .schedule-title { font-size: 30px; font-weight: bold; }
.schedule-img-text-wrapper .schedule-text-wrapper .schedule-theme { font-size: 20px; color:#595959; }

.heart-wrapper {
	float: left;
	width: 30%;
	margin-top: 110px;
}

.heart-img {
	width: 17px;
}

.heart-number {
	font-size: 20px;
	margin-left: 7px;
}

.nailer-schedule-group { margin-bottom: 15px; overflow: auto; width: 100%; height: 150px; }
.nailer-schedule-group .day { font-size: 20px; font-weight: bold; }
.nailer-schedule-group .main-schedule { font-size: 18px; color:#595959; margin-bottom: 7px; }
.nailer-schedule-group .main-schedule:last-child { margin-bottom:0px; }

.button-wrapper {
	text-align: center;
	margin-top: 15px;
}
.button-wrapper > * {
	background-color: #eb7d31;
	border: none;
	color: white;
	cursor:pointer;
	padding:8px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.close-button {
	margin-left: 20px;
}