@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');

/*		BODY	 */
html,body{height:100%; min-height: 100%; width:100%; min-width:100%; overflow:hidden}
* { margin:0; padding:0; list-style:none; font-family:'Noto Sans KR', sans-serif; color:black; }
body { background:#F2F2F2; display:block; }
.clearfix { *zoom:1; }
.clearfix:after { content: ""; display:block; clear:both; }
a { text-decoration:none; color:#000000; }
a:hover { text-decoration:none; }
img { max-width:100%; }
li { display:inline-block; }

/* 		HEADER 		*/
header {
	z-index:101;
	width:100%;
	height:60px;
	background:#FFFFFF;
	position:fixed;
	box-sizing:border-box;
	margin:0 auto;
	top:0; left:0;
	padding:5px 10px;
}
header div { display:inline-block; vertical-align:middle; }
.logo img { width:150px; height:50px; }
.plan-name { margin-left:30px; font-size:20px; font-weight:bold; }
.btn-group { float:right; padding:5px; }
.closeBtn, .completeBtn { background:#eb7d31; color:#FFFFFF; text-align:center; font-size:13px; margin:3px 20px; padding:7px 15px; cursor: pointer; }


/* 		CONTENT		*/
.content {
	padding-top:60px;
	height: calc(100% - 60px);
}
/* plan-wrap */
.plan-wrap {position:absolute; float:left;width:400px; height:calc(100% - 60px); height:-webkit-calc(100% - 60px); }

.schedule-info-box { float:left; width:150px;background:#7F7F7F; height:100%;}
.schedule-info-box * { color:#FFF; }
.plan-date { width:100%; height:50px; line-height:50px; text-align:center; border-bottom: solid 1px #909090; cursor:pointer; }
.plan-date-box { max-height:500px; width:100%; height:100%; overflow:hidden; }
.plan-date-box li { width: 100%; height: 70px; /* text-align: center; */ font-size: 12px; cursor: pointer; border-bottom: solid 1px #909090; visibility:hidden;}
.plan-date-box li .detail-box { margin:12px 0px 12px 12px; width:136px; height:100%; vertical-align:middle;}
.plan-date-box li div:not(.region) { display:inline-block; }
.plan-date-box li div.day { font-size: 18px; font-weight: bold; }
.plan-date-box li div.date { margin-left:10px; }
.plan-date-box li div.region {width:100%; font-size:14px; }
/* 상세일정 css */
.schedule-detail-box {float:left; width:250px;height:100%; background:#D9D9D9; }
.item-detail-box { display:none; height: calc(100% - 60px); overflow-x:hidden; overflow-y:scroll; }
.item-detail-box > .schedule-item-wrapper {width:205px;height:60px;padding:15px;background-color:white;border-top:1px solid gray;}
.item-detail-box > .schedule-item-wrapper > .schedule-item-img {display:inline-block;width:60px; height:60px;margin-right:10px;}
.item-detail-box > .schedule-item-wrapper > .schedule-item-name {display:inline-block;overflow: hidden;  white-space: nowrap; text-overflow: ellipsis; width:130px;height:60px;font-size:13px;}
.item-detail-box > .schedule-item-wrapper > .schedule-item-name > .schedule-item-addr {margin-top:5px; width:130px;height:30px;font-size:6px;color:#7f7f7f;}
.item-detail-box > .schedule-item-wrapper > .delete-box {position:relative;left:190px; top:-15px; cursor:pointer;}
.empty-detail-box { display:inline-block; width: calc(100% - 46px); height: calc(100% - 100px); border:3px dashed white; color:white; vertical-align:middle; text-align:center; margin:20px;}
.get-directions {z-index:99999; position:absolute; color:white; font-weight:bold; left:150px; bottom:0px; width:250px; height:60px;line-height:60px; text-align:center; background-color:#eb7d31; cursor:pointer;}

.map-search-view-cover { float:left; width:calc(100% - 400px); width:-webkit-calc(100% - 400px); height:calc(100% - 60px); height:-webkit-calc(100% - 60px); position:absolute; top:60px; left:400px;}
.map-search-view-cover > .list-cover{ position:absolute; margin-top:10px; z-index:999; display:block; padding-top:5px; width:40px; height:35px; text-align:center; background-color:rgba(0,0,0,0.8); color:white; cursor:pointer;}
.city-list{display:block; background-color:white; position:absolute; z-index:9999;width:350px;height:100%;}
.list-title{display:inline-block;background-color:rgb(0, 156, 233);width:350px;height:60px;}
.list-title > .title-name { display:inline-block; color:white; margin-left:10px; font-size:15px; line-height:60px; font-weight:bold; cursor:pointer;}
.city-list > .list-close{ position:absolute; margin-top:10px;z-index:9999; display:block; left:350px; padding-top:5px; width:40px; height:35px; text-align:center; background-color:rgba(0,0,0,0.8); color:white; cursor:pointer; }
.select-city-title{z-index:9999; padding-top:5px; background-color:white; position:absolute; overflow:auto;width:100%; height:400px;}
.select-city-title > .city-item{size:15px; width:30%; height:30px; margin-left:15px; cursor:pointer;}
.select-city-title > .city-item-do{size:25px; width:25%; height:30px; margin-left:10px; font-weight:bold;}
.city-list-body{width:100%;height:100%;background-color:white;}
.city-list-body > .list-search {width:90%;height:30px; padding-left:5px;padding-right:5px; border:1px solid #d9d9d9; margin-top:15px; margin-left:15px; margin-bottom:15px; background-size:20px 20px;}
/* background:url('../img/planner/search.png') no-repeat right; */
.city-list-body > .list-theme-wrapper{width:100%;height:80px;border-top:0.5px solid #d9d9d9;background-color:#f7f7f7;}
.city-list-body > .list-theme-wrapper > div{display:inline-block;width:60px; height:60px; margin-left:40px;text-align:center;cursor:pointer;margin-top:10px;}
.city-list-body > .list-theme-wrapper > .list-theme-accom{background:url('../img/planner/bed.png') no-repeat center; background-size: 70% 70%; border:1px solid #7f7f7f; border-radius:50%;}
.city-list-body > .list-theme-wrapper > .list-theme-food{background:url('../img/planner/food.png') no-repeat center; background-size: 60% 60%; border:1px solid #7f7f7f; border-radius:50%;}
.city-list-body > .list-theme-wrapper > .list-theme-tour{background:url('../img/planner/hotplace.png') no-repeat center; background-size: 70% 70%; border:1px solid #7f7f7f; border-radius:50%;}
.city-list-body > .selected-theme-list{width:100%;height:70%; overflow-y:auto; overflow-x:hidden;}
.city-list-body > .selected-theme-list > .day-spot-item{display:flex; width:305px;padding:15px; border-bottom:1px solid gray;}
.img-size{ width:90px; height:90px;}
.city-list-body > .selected-theme-list > .day-spot-item > .item-img-box{z-index:10004;display:inline-block;width:90px; height:90px; margin-right:10px;overflow:hidden;cursor:pointer;}
.city-list-body > .selected-theme-list > .day-spot-item > .item-info-box{z-index:10004;display:inline-block; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis; font-size:13px;font-weight:bold; text-align:left; width:150px; /* height:90px; */margin-right:20px;cursor:pointer;}
.city-list-body > .selected-theme-list > .day-spot-item > .item-info-box > .item-sub {color:#7f7f7f; font-size:10px;width:100%;height:69px;cursor:default;margin-top:10px;}
.city-list-body > .selected-theme-list > .day-spot-item > .item-insert-box{z-index:10004;display:inline-block;width:30px; height:30px; margin-top:25px; background-color:#d9d9d9; border:1px solid #d9d9d9;border-radius: 5px;cursor:pointer;}

.transit-find { display:block; background-color:white; position:absolute; z-index:10004;width:350px;height:100%; }
.transit-info-box { text-align:center; color:#FFF; background:#009CE9; padding:20px; }
.transit-set-box { padding:10px 15px; text-align:center; border-bottom: 1px solid #7f7f7f; }
.transit-set-box > div { margin:25px auto; }
span.transit-find-text { margin-right: 10px; }
input.transit-find-input { width:230px; cursor:default; outline:0; }
.transit-find-btn { background:#009CE9; opacity:0.8; color:#FFF; padding:5px; width:90%; cursor:pointer; }
.transit-find-btn:hover { opacity:1; }
.transit-result-box { text-align:center; padding:10px; }

#map {display:block; position:relative; width:calc(100% - 350px) !important; width:-webkit-calc(100% - 350px) !important; height:100%; }





