@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');

/*       body       */
.planner-info-img{
	background:#FFFFFF url('../img/planner/background.jpg') no-repeat center center/cover;
	width:100%;
	height:350px;
	text-align:center;
	vertical-align:middle;
}
.planner-info{
	
}