@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

@import url('../font/12롯데마트행복Bold.ttf');

/*       body       */
/* 테이블 */
.filter-table{
	color:#7f7f7f;
	margin:0 auto;
	margin-top:2%;
	width:85%;
	height:60%;
	border: 1px solid #d9d9d9;
	border-collapse: collapse;
	margin-bottom:1%;
}
td{border: 1.2px solid #d9d9d9;padding:11px;}
.td-subject{width:13%;font-size:17px;text-align:center;}
.td-option > div{color:#7f7f7f;margin-right:15px;float:left;cursor:pointer;}
/*상단 플래너 설명*/
.planner-info-img {
	background: #FFFFFF url('../img/planner/background.jpg') no-repeat
		center center/cover;
	width: 100%;
	height: 350px;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid black;
}

.planner-info-wrapper {
	/*background-color:white;*/
	width: 80%;
	height: 60%;
	margin: 0 auto;
	margin-top: 35px;
	display: flex;
	justify-content: space-evenly;
}
.planner-info-text{
	color:white;
	text-align:center;
	font-size:30px;
	padding:30px;
	padding-top:60px;
	margin:0 auto;
	letter-spacing:0px;
	word-spacing:0px;
	line-height:120%;
}
.planner-info-btn-wrapper {
	/*background-color:white;*/
	width: 80%;
	height: 12%;
	margin: 0 auto;
	margin-top: 35px;
	display: flex;
	justify-content: space-evenly;
}
.planner-info-btn-wrapper > button{
	color:white;
	background-color:#ed7d31;
	text-align:center;
	font-size:20px;
	width: 100%;
	height: 100%;
	border:none;
	cursor:pointer;
}
.planner-info-btn-wrapper > button > img {width:17px;height:17px;margin-top:1px;margin-right:17px;}
.planner-info-btn-wrapper > .create-plan-btn {margin-left:13%;margin-right:13%;}
.planner-info-btn-wrapper > .my-plan-btn {margin-left:13%;margin-right:13%;}
.planner-info-left {text-align:center;width:27%;height:100%;background-color:rgb(248, 248, 248, 0.5);}
.planner-info-right {text-align:center;width:27%;height:100%;background-color:rgb(248, 248, 248, 0.5);}
/*필터 테이블 텍스트 */
.filter-text{text-align:center;font-size:25px;margin-bottom:5px;}
/*필터 테이블의 테마 인덱스 체크시 필터에 오르는 버튼 폼 */
.filter-value{
	float: left;
    cursor: pointer;
    background: #f3f3f3;
    height: 30px;
    line-height: 30px;
    color: #808080;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    margin-right: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    display:none;
}
.f-text{
	font-size: 15px;
	color:#7f7f7f;
	float:left;
}
.f-line{
	background: #7f7f7f;
    width: 1px;
    height: 12px;
    margin-left: 8px;
    margin-right: 8px;
    float: left;
    margin-top: 10px;
}
.f-x-icon{
	font-size:20px;
	color:#7f7f7f;
	float:left;
}
/*일정 추천 속성*/
.calendar-lists-wrapper{width:100%;margin:0 auto;padding-left:1%;}
.calendar-lists{
	text-align:center;
	display:inline-block;
	width: 30%;
	height: 350px;
	border: 1px solid #E6E6E6;
	margin:1%;
}
.calendar-map{
	height: 260px;
	background: #FFFFFF url('../img/default.png') no-repeat
	center center/cover;
	cursor:pointer;
}
.calendar-text-wrapper{
	text-align:left;
	padding-left:10px;
	height:90px;
	background-color:white;
	font-size:17px;
}
.calendar-text-subject{display:inline-block;margin-right: 7px;}
.calendar-text-tag{color:gray;text-align:left;font-size:15px;margin-bottom:5px;}
.calendar-text-writer{display:inline-block;}
.calendar-like-number-wrapper{float:right;margin-right:5px;}
.calendar-text-like{display:inline-block;cursor:pointer;margin-right:10px;}
.calendar-text-like > .like-img{width:15px;height:15px;}
.calendar-text-like-number{display:inline-block;}
/*더보기 버튼*/
.more-btn{
	color:white;
	background-color:#009ce9;
	text-align:center;
	font-size:20px;
	width: 30%;
	border:none;
	margin-left: 34.5%;
	margin-top: 20px;
	padding:5px;
	margin-bottom:5px;	
	cursor:pointer;
}
/* 일정 만들기 모달 창*/
.modal-wrapper  {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 15px 15px;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	z-index: 1000;
	/*     padding:400px; */
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.plan-modal-content {
	padding:20px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
    max-width: 100%;
    border-radius: 5px;
    background: #fff;
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    background:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.modal-wrapper.open{
	opacity:1;
}
.modal-wrapper.open .plan-modal-content{
	opacity:1;
    -webkit-transform: translateY(0);
    transform: translateY(0);	
}
.plan-create-text{
	font-size: 25px;
    font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 2px solid #e5e5e5;
}
.plan-option-wrap{padding:2%;padding-bottom:1%;}
.plan-option-text{font-size: 20px;font-weight: bold;}
.plan-option-days-wrapper{margin: 20px 5px 20px 5px;width:70%;height:100%;}
.plan-option-tickets{
	color:#7f7f7f;
	text-align:center;
	display:inline-block;
	font-size:17px;
	width: 15%;
	height:100%;
	border: 1px solid #7f7f7f;
	border-radius: 8px;
	padding:6px 8px 6px 8px;
	margin-left:10px;
	margin-right:20px;
	cursor:pointer;
}
.plan-option-days{
	color:#7f7f7f;
	text-align:center;
	display:inline-block;
	font-size:17px;
	width: 20%;
	height:100%;
	border: 1px solid #7f7f7f;
	border-radius: 8px;
	padding:6px 8px 6px 8px;
	margin-left:10px;
	margin-right:20px;
	cursor:pointer;
}
.plan-option-people{
	margin: 20px 5px 20px 15px;
	width:100%;
	height:100%;
	display:inline-block;
	color:#7f7f7f;
	text-align:center;
	font-size:17px;
	width: 20%;
	height:100%;
	border: 1px solid #7f7f7f;
	border-radius: 8px;
	padding:6px 8px 6px 8px;
}
.plan-option-member-wrapper{display:none;}
.plan-option-minus{color:#7f7f7f;display:inline-block;cursor:pointer;margin-right:15px;}
.plan-option-number{color:#7f7f7f;display:inline-block;margin-right:2px;}
.plan-option-plus{color:#7f7f7f;display:inline-block;cursor:pointer;margin-left:15px;}
.plan-option-button-wrapper{text-align:center;margin-top:10px;padding-bottom: 5px;border-top: 2px solid #e5e5e5;}
.plan-option-button{
	display: inline-block;
	border:none;
	width:100px;
	margin-top:20px;
	margin-right: 50px;
	background-color:#ed7d31;
	color:white;
	font-size:17px;
	padding:9px;
	cursor:pointer;
}
