@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');
.article-item { 
    width:1220px;
    height:1400px;
}
/*  timeline,schedule tab  */
.tab-list{ margin:0px 0px 0px 20px; }
.schedule { 
    font-weight:bold;
    width:100px;
    height:30px;
    text-align:center;
    /* border-bottom:4px solid #009CE9; */
}
.schedule-select{ margin:0px 0px 40px 20px; }
.schedule-select > span{ margin:0px 8px 0px 0px; }
.my-schedule, .complete-schedule, .like-schedule{ cursor:pointer; }
.my-schedule{ color:#009CE9; }
.dg_warning-div{
    position: relative;
    top:200px;
    text-align:center;
}
.dg_warning{
    width:200px;
    height:200px;
    margin:0px 0px 10px 0px;
}
.dg_warning-txt{
	margin-top : 30px;
    font-weight:bold;
    font-size:28px;
    color:#504f4f;
}
.article-item{
    
}
.schedule-lists{
	height:calc(100% - 85px); height:-webkit-calc(100% - 85px);
	overflow:auto;
	display:inline-block;
}/*
.schedule-lists::-webkit-scrollbar{
	display:none; 
}*/
.schedule-list {
	background-size: 300px 250px;
	background: #ffffff;
	width: 500px;
	height: 300px;
	box-shadow: 3px 3px 3px #bfbfbf;
	margin: 20px 50px 40px 50px;
	display: inline-block;
	padding: 0px;
	position: relative;
}

.schedule-list-img {
	width: 500px;
	height: 200px;
}

.schedule-text-wrapper {
	display: inline-block;
	width: 500px;
	height: 100px;
}

.schedule-name {
	display: inline-block;
	font-size: 20px;
	font-style: bold;
	font-weight: bold;
	margin: 5px 0px 0px 15px;
}

.schedule-date {
	display: block;
	margin-top:5px;
	margin-right: 10px;
	float: right;
	font-size: 13px;
	color: #6f6f6f;
}

.name-wrapper {
	display: block;
	height:65px;
}

.btn-wrapper {
	float: right;
	margin-right: 10px;
	color: #eb7d31;
    font-weight: bold;
}
.hash-tag{
	color:#929191;
	font-size:16px;
	font-weight:bold;
	width:100%;
	margin:5px;
	margin-left:82px;
}
.m-btn {
	display: inline-block;
}

.d-btn {
	display: inline-block;
}

.schedule-userImg {
	vertical-align: middle;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 15px 10px 0px 20px;
	right: 13%;
}
.schedule-userName {
	vertical-align: middle;
	margin-top: 15px;
	display: inline-block;
	color: #6f6f6f;
}