@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');

/* article-sns-content */
.sns-content-item { margin:50px 0px; }
.sns-content-item:first-child, .sns-content-item:last-child { margin:0; }
.sns-content-user { width:100%; height:80px; }
.sns-content-user>* { vertical-align:middle; display:inline-block; }
.sns-content-user .user-img { width:70px; height:70px; margin-right:20px;}
.edit-btn { font-size:30px; float:right; }
.edit-btn>div {display:none; background:#7f7f7f; position:absolute; z-index:999;}
.edit-btn-group { font-size:20px; color:#FFF; }
.edit-btn-group>div { font-size:20px; color:#FFF; padding:5px 10px; }
.edit-btn:hover .edit-btn-group { display:block; cursor:pointer; }
.sns-img { width:100%; height:500px; }
.sns-content-body { margin:10px 0px; width: 100%; }
.sns-content-reply a { text-decoration:underline; }
.sns-icon { width:30px; height:30px; padding:10px 20px 0px 0px;}

.sns-write-img {position: fixed; right: 3%; top: 85%; width: 70px; cursor: pointer;}

.more-button {text-align: center;}

.article-sns-content {display: none;}

