@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');

/*  section-profile  */
#section-back-img{
	position:relative;
	width:100%;
	height:350px;
	background:no-repeat center center/cover;
}
.profile-img{
	cursor:pointer;
	float:left;
	margin-top:-120px;
	margin-left:50px;
}

#profile-img{
	cursor:pointer;
	width:250px;
	height:250px;
	object-fit: cover;
	border-radius:50%;
}
#back-img-update{
	position:absolute;
	top:75px;
	right:15px;
	width:25px;
	height:25px;
	outline:none;
}
#update-btn{
	position:absolute;
	top:75px;
	right:15px;
	width:25px;
	height:25px;
	outline:none;
}
/*.section-back-img label {
   margin-top: 10px;
   color: white;
   top:0;
   background-color: #ed7d31;
   border: none;
   cursor: pointer;
   width: 80px;
   height: 30px;
   display: inline-block;
   text-align: center;
   font-size: 15px;
   line-height: 30px;
   -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}*/
.section-back-img input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#uploadFile2{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.article-sns-user1{
	
}
.article-sns-user2{
	
}
.profile-info {
	background:#FFFFFF;
	height:200px;
	max-width: 1260px;
	margin: 0 auto;
	position:relative;
} 
.profile-content{
	position:relative;
	top:-5px;
}
.profile-text1{
	position:relative;
	top:-5px;
	height:25px;
	width:165px;
	border:0px;
	outline:none;
	border-bottom:solid 1px;
	font-size:16px;
	color:#7f7f7f;
}
.profile-text{
	position:relative;
	top:-5px;
	height:25px;
	width:165px;
	border:0px;
	outline:none;
	border-bottom:solid 1px;
	font-size:16px;
	color:#7f7f7f;
}
.row1 span, .row2 span {
	text-align:center;
	display:inline-block;
	margin:30px 50px 0px 50px;
	width:50px;
}
.row1 .user-name, .row2 .user-id { margin-right:70px; width:100px; }

/*  timeline,schedule tab  */
.tab-list {
	position:absolute;
	bottom:0px;
	left:20px;
}
.tab-list a {	
	display:inline-block;
	margin:0px 30px 0px 30px;
}
.timeline { 
	font-weight:bold;
	width:100px;
	height:30px;
	text-align:center;
	/* border-bottom:4px solid #009CE9; */
}

/* section-main */
.section-main {
	margin: 0 auto;
    max-width: 1280px;
    padding:5px;
}

/* article-introduce */
/*#profileUpdate{
	background-image: url("../img/member/edit.png");
	background-position:  0px 0px;
    background-repeat: no-repeat;
	border: 0px;
 	cursor:pointer;
	width:20px;
	height:20px;
	float:right;
	position:relative;
	top:-28px;
	right:6px;
	outline:0px;
}*/
.profileUpdate{
	width:20px;
	height:20px;
	float:right;
	position:relative;
	top:-28px;
	right:6px;
	outline:0px;
}
.location-job-birth-intertest{
	width:20px;
	height:20px;
	margin: 8px 10px 0px 0px;
}
.profile-text{
	
	
}
.profile-detailInfo { margin: -10px 0px 0px 0px; }

/*  sns-contents  */
.sns-user-img{
	width:65px;
	height:65px;
	margin: 10px 20px 5px 0px;
	float:left;
}
.sns-imgP { text-align:center; }
.sns-imgC{
	width:895px;
	height:400px;
	margin: 15px 0px 15px 0px;
}
.sns-title { margin: 10px 0px 0 10px; }
.sns-menubar{
	position: relative;
    top:-20px;
	float:right;
	font-size:22px;
}
.sns-menubar li ul {
	background:#ffffff;
	height:auto;
	padding:0px;
	margin:0px;
	border:2px solid #e6e6e6;
	position:absolute;
	width:60px;
	z-index:200;
}
.sns-menubar ul li {
	text-align:center;
	display:block;
}

.hide{display:none;}
#current, #sns-modify, #sns-delete{
	background-color:white;
	border: none;
 	color: black;
  	padding: 5px 6px;
  	text-align: center;
  	text-decoration: none;
 	font-size: 20px;
 	cursor:pointer;
 	outline:0;
}
#hide_li > li > hr{
	margin-left:10px;
	margin-right:10px;

}
#like-reply-share { display :inline; }
.likeImg, .replyImg, .shareImg{
	width:30px;
	height:30px;
	margin: 16px 10px 0 15px;
}
.reply { text-align:center; }
#reply{
	width:880px;
	margin: 0 auto;
	height:40px;
	border:2px solid #e6e6e6;
	margin-top:10px;
}
.underline{
	color:#e6e6e6;
	border:thin solid;
	max-width: 100%;
	margin: 0 auto;
	margin-top:15px;
}
.sns-user-reply { margin: 20px 0px 30px 0px; }
.reply-user-img{
	width:60px;
	height:60px;
	float:left;
	margin: 0px 10px 0px 0px;
}
.reply-username{
	font-size:19px;
	margin: 20px 10px 0px 15px;
}
.reply-content { margin: 5px 0px 5px 13px; }
.like-write_reply-write_date li{
	margin: 4px 0px 0px 15px;
}
.reply-like,.reply-reply { color:#009CE9; }
.reply-content,.reply-write_date { color:#737373; }

/*  see-more-button  */
.see-more-buttondiv { text-align:center; }
.see-more-button{
	background-color:#009CE9;
	border: none;
    color: white;
    width:20%;
    height:35px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto;
}
/* The Modal (background) */
#myModal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 15px 15px;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	z-index: 1000;
	/*     padding:400px; */
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;    
}
/* Modal */
.modal-content {
	padding:20px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
    height: 80%;
    max-width: 100%;
    border-radius: 5px;
    background: #fff;
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    background:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
}
#myModal.open{
	opacity:1;
}
#myModal.open .modal-content{
	opacity:1;
    -webkit-transform: translateY(0);
    transform: translateY(0);	
}
.modal-title{
	font-size:25px;
}
.form-group{
	height: 70%;
	width: 100%;
	margin: 0 auto;
	margin:15px 0 15px 0;
	padding:0px;
}
.form-control{
	padding-left:10px;
	padding-right:10px;
	width: 100%;
	height: 100%;
	font-size:20px;
}
.modal-footer{
	text-align:center;
}
.modal-footer hr{
	margin:15px 0 15px 0;
}
#modalMoBtn, #modalCloseBtn{
background-color:#009CE9;
	border: none;
    color: white;
    width:100px;
    height:40px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto;
    margin:0px 20px 0px 0px;
}

