@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');



header { height:61px; border-bottom: 1px solid lightgray; }
.content { padding-top:0px; }


/*      menu-bar        */
.menu-bar{top:0;left:0;padding-top:61px;width:100%;height:40px;background:#fff;vertical-align:middle;position:fixed;box-shadow:1px 1px 3px #bfbfbf; z-index:99;}
.menu-bar:after{content:"";display:block;clear:both}.menu-navi{vertical-align:middle;margin:0 auto;max-width:1280px}
.menu-navi li{display:inline-block;padding:0 10px 6px 10px}
.menu-navi li:hover{color:#009ce9}
.menu-navi li:last-child{margin-right:0}
.menu-clicked{border-bottom:solid 3px #009ce9;margin-top:2px}
.menu-bar-ul{margin-top:5px}
.search-city{align-items:center;display:inline-block;background:#009ce9;color:#fff;padding:7px 15px;font-size:17px;border-radius:20px;font-family:'12롯데마트행복Bold'}


/* 		category-info 		*/
.category-info-top{top:0;left:0;padding-top:96px;width:100%;background:#fff;padding-bottom:25px}
.category-info-box{margin:0 auto;max-width:1280px}
.category-category{float:left;color:gray;display:block;padding-left:10px}
.category-category span{color:gray}
.category-category span.link-areaName:hover{cursor:pointer;text-decoration:underline;color:gray}
.category-name{text-align:left;margin:5px 0;display:block;padding-left:10px}



/* 		section-search 		*/
.search-container{display:flex;padding:0;margin:15px 10px 5px 10px;border:0}
.search-keyword{border:0;width:100%;height:40px;padding:2px 10px;background:#fff;transition:all .4s ease;box-shadow:3px 3px 3px #bfbfbf}
.icon{padding:10px;height:20px;background:#1e90ff;color:#fff;min-width:10px;text-align:center;box-shadow:3px 3px 3px #bfbfbf}


/*		 checkbox-area 		*/
.checkbox-title{font-size:20px;margin-bottom:5px}
.checkbox-chk{margin:2px 3px}
input[type=checkbox]{display:none}
input[type=checkbox]+label span.chkbox{display:inline-block;width:1rem;height:1rem;margin:-2px 10px 0 0;vertical-align:middle;border:1px solid gray;cursor:pointer}
input[type=checkbox]:checked+label span.chkbox{background:url(../../resources/img/info/checkbox.jpg) no-repeat 50% 50%;background-size:1rem}
.checkbox-hr{border-width:1px 0 0 0;border-style:solid;border-color:#d3d3d3;margin:10px 0}
#checkbox-more{margin-left:5px;cursor:pointer;color:gray}
#checkbox-fold:hover,#checkbox-more:hover{text-decoration:underline}
#checkbox-chk-hide{display:none}
#checkbox-fold{margin-left:5px;display:none;cursor:pointer;color:gray}
.checkbox-br{padding-bottom:10px}


/*		info-board		*/
.info-top{margin:10px;margin-bottom:20px;font-size:15px;color:gray}
.info-group{float:right}
.result-amount{color:#009ce9}

/* 		info-list 		*/
.arrange-chk{ color:#000; font-weight:bold; }
.arrange:hover { text-decoration:underline; cursor:pointer; }
.fa-exclamation-circle{color:#7f7f7f;font-size:100px;margin-top:40px;}
.info-list{display:grid;grid-template-columns:200px 2fr;padding:20px 0px;}
.info-list:hover { cursor:pointer; background:#efefef; }
.info-list-img{margin-left:20px;width:150px;height:100%; overflow:hidden;}
.info-list-img img{ transition: all 0.3s ease-in-out; height:100%; }
.info-list-title{display:inline}
.info-list-data{padding-left:10px}
.info-explain{color:gray;width:600px;height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.info-rating{color:#ed7d31}
.info-readcount { color: #595959; font-size: 13px; margin-top: 3px; }


/*		 list-paging 		*/
.paging{text-align:center;vertical-align:middle;height:30px;padding:5px 0}
.pagination{list-style:none;padding:0}
.pagination-prev{margin-left:5px;float:left;width:40px!important}
.pagination-next{margin-right:5px;float:right;width:40px!important}
.pagination li{padding:4px;text-align:center;width:25px;height:25px;border:1px solid #a9a9a9;margin:0 3px}
.pagination li.selected{border:1px solid #009ce9;background-color:#009ce9;width:25px;height:25px;color:#fff}
.pagination a{font-size:14px;text-decoration:none}
.pagination li:not(.selected):hover{border:1px solid silver;background-color:silver;width:25px;height:25px;color:#fff;cursor:pointer}
.pagination li.button:hover{border:1px solid #009ce9;background-color:#009ce9;width:25px;height:25px;color:#fff;cursor:pointer}