@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../font/12롯데마트행복Bold.ttf');

/*		 common.css		 */
/*		BODY	 */
* { margin:0; padding:0; list-style:none; font-family:'Noto Sans KR', sans-serif; }
body { background:#F2F2F2; display:block; }
.clearfix { *zoom:1; }
.clearfix:after { content: ""; display:block; clear:both; }
a { text-decoration:none; color:#000000; }
a:hover { text-decoration:none; }
img { max-width:100%; }
li { display:inline-block; }

/* 		HEADER 		*/
header {
	z-index:101;
	width:100%;
	height:61px;
	background:#FFFFFF;
	position:fixed;
	box-sizing:border-box;
	margin:0 auto;
	border-bottom: 1px solid lightgray;
	top:0; left:0;
	padding:5px 10px;
}
.header-inner {
	background:#FFFFFF;
	margin: 0 auto;
    max-width: 1280px;
}
.header-inner div { display:inline-block; height:50px; }

.logo img { width:150px; height:50px; }
.navi { float:right; margin-left:auto; text-align:center; }
.navi li { display:inline-block; margin:0px 5px; vertical-align: middle; font-size:10px; }
.navi li:last-child { margin-right:0; }
.navi img { width:30px; height:30px; }
.navi img.member-img { width:45px; height:45px; }

/* section-main */
.section-main {
	margin: 0 auto;
    max-width: 1280px;
    padding:0px 24px 24px 24px;
}
.article-wrapper {
	float:left;
}
.article-item {
	background:#FFFFFF;
	padding:10px 20px;
	box-shadow:3px 3px 3px #bfbfbf;
	margin:15px 10px;
}
.article-75 { width:75%; }
.article-25 { width:25%; }


/* 		FOOTER 		*/
footer {
	width:100%;
	height:100px;
	background:#D9D9D9;
}





/*      menu-bar        */
.menu-bar {
	top:0;
	left:0;
	padding-top:61px;
	width:100%;
	height:40px;
	background:#FFFFFF;
	vertical-align:middle;
	position:fixed;
	box-shadow: 1px 1px 3px #bfbfbf;
}
.menu-bar:after { content: ""; display:block; clear:both; }
.menu-navi { 
	vertical-align: middle; 
	margin: 0px auto;
	max-width: 1280px; 
}
.menu-navi li { display:inline-block; padding:0px 10px 6px 10px; }
.menu-navi li:hover { color: #009CE9; }
.menu-navi li:last-child { margin-right:0; }
.menu-clicked {
	border-bottom: solid 3px #009CE9;
	margin-top: 2px;
}
.menu-bar-ul { margin-top: 5px;}


.search-city {
	align-items:center;
	display:inline-block;
	background:#009CE9;
	color:#FFFFFF;
	padding: 7px 15px;
	font-size: 17px;
	border-radius: 20px;
	font-family: '12롯데마트행복Bold';
}

/* 		place-info 		*/
.place-info-top {
	top:0;
	left:0;
	padding-top: 96px;
	width:100%;
	background:#FFFFFF;
	
}

.place-info-box {
	margin: 0 auto;
	max-width: 1280px;
}

.place-category {
	float:left;
	color: gray;
	display: block;
	padding-left: 10px;
}

.place-category span {
	color: gray;
}

.place-category span.link:hover {
	cursor:pointer;
	text-decoration:underline;
	color: gray;
}

.place-name {
	text-align: left;
	margin:5px 0px;
	display: block;
	padding-left: 10px;
}

.place-info {
	float:left;
	color: gray;
	display: block;
	padding-bottom: 15px;	
	padding-left: 10px;
}

.info-text-ul {
	display: inline;
}

.info-text-ul li {
	margin: 15px;
}

.time br {
	display: none;
}

.overview br {
	display: none;
}
/*		info-img		*/
.info-img-container {
	width: 100%;
	height:300px;
	margin: 0 auto;
    max-width: 1280px;
}

.info-imgs {
	text-align: center;
	margin-top: 15px;
}

.info-imgs img { height:300px; width:32.8%; }

.info-img-null {
	border: 2px solid lightgray;
	height: 100%;
	text-align: center;
	margin: 5px;
	background-color: #fff;
}

.null-alert {
	margin: 73px 0px;
}

.null-text {
	color: lightgray;
	font-size: 30px;
	margin-top: 10px;
}

.fa-exclamation-circle {
	color: lightgray;
	font-size: 100px;
}

/*		review		*/
.review-title {
	margin-bottom:10px;
}

.review-null {
	text-align: center;
}

.review-table {
	display: grid;
	grid-template-columns: 100px 2fr;
}
.reviewer-img{ margin-left: 20px; width:50px; height:50px; margin-right:20px; object-fit:cover; border-radius: 50%; }

.review-table th{
	text-align: left;
	width: 110px;
}

.review-rdate {
	font-size: 5px;
	padding-left: 10px;
}

.review-rev {
	color: #ed7d31;
}

.review-imgs {
	height: 80px;
	padding-left: 95px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.review-imgs img {
	height: 80px;
	margin: 0px 5px;
}

.review-del-btn {
	float: right;
	padding-right: 20px;
	cursor: pointer;
	font-size: 12px;
}

.review-del-btn:hover { text-decoration:underline; }

.review-delete { font-size:20px; color:#FFF; }

.review-register {
	margin-top: 20px;
}

.review-register-box {
	margin-bottom: 15px;
	padding-left: 95px;
	display: grid;
	grid-template-columns: 85% 15%;
}

.review-textarea {
	width:97%;
	height: 150px;
	resize:none;
	font-family:'Noto Sans KR', sans-serif; 
}

.review-register-btn {
	color: white;
	top:0;
	background-color: #ed7d31;
	border: none;
	cursor: pointer;
	width: 80px;
	height: 30px;
	-webkit-transition: background-color 0.2s;
 	transition: background-color 0.2s;
}

.review-register-btn:focus { outline: none; }

.review-register-btn:hover, .review-grid-right label:hover {
	background-color: #ff9d5c;
}

.review-register-btn:active, .review-grid-right label:active {
	background-color: #ff6700;
}

.review-grid-right label {
	margin-top: 10px;
	color: white;
	top:0;
	background-color: #ed7d31;
	border: none;
	cursor: pointer;
	width: 80px;
	height: 30px;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	-webkit-transition: background-color 0.2s;
 	transition: background-color 0.2s;
}

.review-grid-right input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.review-uploadResult {
	height: 100px;
	background-color: lightgray;
}

.review-uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.review-uploadResult li {
	list-style: none;
	padding:10px;
	display: grid;
}

.review-uploadResult ul li img{
	height: 60px;
}

.review-uploadResult a {
	text-align: center;
	color: dimgray;
}

.review-uploadResult a:hover {
	text-decoration: underline;
}

.review-img-empty {
	margin: 25px;
}

.non-login-alert {
	height: 60px;
    text-align: center;
    line-height: 40px;
    color: #7f7f7f;
}
/* 		section-search 		*/
.search-container {
  display: flex;
  padding: 0;
  margin: 15px 10px;
  border: 0;
}


.search-keyword {
  border: 0;
  width: 100%;
  height: 40px;
  padding: 2px 10px;
  background: white;
  transition: all 0.4s ease;
  box-shadow:3px 3px 3px #bfbfbf;
}

.icon {
  padding: 10px;
  height: 20px;
  background: dodgerblue;
  color: white;
  min-width: 10px;
  text-align: center;
  box-shadow:3px 3px 3px #bfbfbf;
}


/*		 recommend-area 		*/
.recommend-list {
	cursor: pointer;
}

.recommend-list:hover {
	background:#efefef;
}

.recommend-area {
	text-align: center;
	margin: 15px 0px;
}

.recommend-img {
	margin-top: 10px;
	width: 90%;
	height: 150px;
	display: block;
	margin-left: 5%;
	overflow:hidden;
}

.recommend-img img {
	height:100%;
	transition: all 0.3s ease-in-out;
}

.recommend-title {
	font-weight: bold;
	font-size: 16px;
	float: left;
	margin-left: 15px;
}

.recommend-title:hover {
	text-decoration:underline;
}

.recommend-category {
	font-size: 12px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.recommend-rating {
	color: #ed7d31;
}
.recommend-readcount {
    font-size: 12px;
    margin: 4px 20px 0 0;
    float: right;
    color: #595959;
}
/*		 media query 		*/
@media screen and (max-width: 700px) {
	.info-none {
		display: none;
	}
	.place-info {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.article-25 {
		display: none;
	}
	.article-75 {
		width:100%;
	}
	.info-img3 {
		display: none;
	}
	.info-imgs img {
	 	height: 300px;
	 	width: 45%;
	}
	
}

@media screen and (max-width: 900px) {
	.info-text-media {
		display: block;
	}
}

/*		 star-rating		 */
.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #ed7d31;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #ed7d31;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}